$brand-primary-color: #00CCF9;

$very-dark-gray:#3C3D3E;
$colours-basic-darkish-gray:#7D7D7D;
$colours-basic-medium-gray:#9C9D9E;
$colours-basic-light-gray:#D6D5D4;

$spacing-1: 8px;




$text-primary: $very-dark-gray;
$text-secondary:$colours-basic-darkish-gray;

$border-border-secondary:$colours-basic-light-gray;

$surface-secontary:#F2F2F2;


/*start the design system*/
.heading-large-bold{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: auto;
    letter-spacing: -3%;    
  }
  
  .heading-medium{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 5%;
  }
  
  .heading-bold{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;    
  }
  
  .heading-regular{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
  }
  .text-medium{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 3%;
  }
  
  .text-regular{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color:($text-primary);
  }
  
  
  
  .text-bold{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  
  .text-light{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  
  
  .text-extra-small{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 16%;
  }
  
  .text-XX-small{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 8px;
    line-height: auto;
    letter-spacing: 10%;
  }
  
  
  
  
  /*start design for the main table*/
  .table-wrapper{
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }
  
  /*start design for the header table*/

  
  
  .user{
    display: flex;
    width: 294px;
    align-items: center;
    gap: 8px;
    
  }
  
  
  .status{
    width: 110px;
    
    
  }
  
  .phone-number{
    width: 150px;
    
  }
  
  .position{
    width: 150px;
    
  }
  
  .private-email{
    width: 130px;
    
  }
  
  .activity{
    width: 130px;
    
  }
  
  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  
  .subtext{
    color: ($text-secondary);
  }
  
  .head{
    display: flex;
    height: 46px;
    padding: 8px 5px 8px 0px;
    justify-content: center;
    align-items: center;
    gap: $spacing-1;
    flex-shrink: 0;
    border-bottom: solid $border-border-secondary;
  }
  
  
  /* .table-header{
    display: flex;
    height: 53px;
    padding: 4px 8px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  } */
  
  .user-text{
    width: 235px;
    flex-shrink: 0;
    
  }
  
  /*start design for the components table*/
  
  /* .table-of-component{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 16px;
  } */
  
  .table-of-component{
    display: flex;
    width: 1049px;
    padding: 8px;
    align-items: center;
    gap: 16px;
  }
  
  .avatar{
    width: 43px;
    height: 43px;
    border-radius: 43px;
    background-color: rgb(239, 93, 118);
  }
  
  .check-box-name{
    display: flex;
    align-items: center;
    gap: 8px;
    width:294px;
  }
  
  
  .avatar-name{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .name-typography{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15px;
    color:($text-primary);
  }
  
  .user-name{
    width: 180px;
    
  }
  
  .typography-of-status-phone-position-dep-act{
    color: var($text-secondary);
    font-family:  "Inter", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.13px;
  }
  
  .is-active{
    width: 110px; 
    
  }
  
  .phone{
    width: 150px;
    
  }
  
  .position-of-component{
    width: 150px;
    
  }
  
  .department-of-component{
    width:130px ;
    
  }
  
  .activity-of-component{
    width: 95px;
    
  }
  
  .table-row {
    display: flex;
    gap: $spacing-1;
    align-items: center;
  }

  .table-row.selected {
    background-color: $surface-secontary;
    display: flex;
    gap: $spacing-1;
    align-items: center;
  }
  
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .table-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
  }



  // style for the nav-bar

  nav-bar-wrapper{
    width: 200px;
    height: 700px;
    background-color: aqua;
    color: #7D7D7D;
}
  